$size__site-main: 100%;
$size__site-content: 960px;
$size__site-sidebar: 25%;
// Grid
$grid-max-width: 1200px;
$grid-gutter: 32px;
$base-margin: 16px;
$wrap_edge: $base-margin;
$margin_2x: $base-margin * 2;
$margin_4x: $base-margin * 4;

// Include Media
$breakpoints: (
  'phone': 360px,
  'small': 768px,
  'tablet': 768px,
  // required for include-media
    'medium': 992px,
  'large': 1200px,
  'desktop': $grid-max-width + $grid-gutter,
  // required for include-media
);
